/* :root {
  --white-color: #fff;
  --black-color: #000;
  --btn-color: #f9e43f;
  --nav-height: 70px;
  --banner-height: 560px;
  --collection-width: 836px;
  --collection-height: 536px;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
} */
.content-gallery {
  margin-top: calc(var(--nav-height) + 50px);
}
/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .content-img {
    margin-top: 50px;
  }
  .content-gallery {
    margin-top: calc(var(--nav-height) + 50px);
  }

  .pagination {
    margin: 25px 0;
    margin-bottom: 50px;
  }
}
/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
  .content-gallery {
    margin-top: calc(var(--nav-height) + 25px);
  }
  .pagination > .pagination-park > ul > li {
    margin-right: 5px;
  }

  .pagination > .pagination-park > ul > li > a {
    font-size: 1.2rem;
    width: 40px;
    height: 26px;
  }
  .pagination {
    margin: 0px 0;
    margin-bottom: 25px;
  }
}
