/* :root {
  --white-color: #fff;
  --black-color: #000;
  --btn-color: #f9e43f;
  --nav-height: 70px;
  --banner-height: 560px;
  --collection-width: 836px;
  --collection-height: 536px;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
} */
.about-us-content__row {
  margin-top: calc(var(--nav-height) + 50px);
  margin-bottom: 50px;
}

.about-us-content__title {
  color: #959595;
  font-size: 3.5rem;
  text-align: center;
}
.about-us-content__bark {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.about-us-content__img {
  width: 90%;
}
.about-us-content__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-content__content {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
}
/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .about-us-content__img {
    width: 100%;
  }
}
/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
  .about-us-content__row {
    margin-top: calc(var(--nav-height) + 30px);
    margin-bottom: 30px;
  }
  .about-us-content__bark {
    margin-top: 30px;
  }
  .about-us-content__content,
  .about-us-content__bark {
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-us-content__img {
    width: 100%;
  }
}
